

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html { 
    -webkit-font-smoothing: antialiased; 
}

body {
    overflow-x: hidden;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

a:link {
	color: #7a7a7a;
}

a:hover {
	text-decoration: none;
	color: black;
}

#my-nav {
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	padding: 20px;
	background: white;
}

.navbar-nav.nav-justified > li{
    float:none;
}

#my-nav a {
	color: black;
	font-size: 20px;
}

#my-nav a:hover {
	color: #7a7a7a;
}

#image-header {
	background-attachment: scroll;
  	background-image: url(../images/snow.png);
	border-bottom: 2px solid white;
  	background-position: center center;
  	background-repeat: none;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}

.image-title {
	padding-top: 150px;
	padding-bottom: 300px;
	padding-left: 100px;
	color: white;
}

.space {
	padding-top: 20px;
	margin: 50px;
}

#poem-day {
	background-attachment: scroll;
  	background-image: url(../images/poem-day.png);
  	border-bottom: 2px solid white;
  	background-position: center center;
  	background-repeat: none;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}

.poem-of-day {
	padding-top: 150px;
	padding-bottom: 150px;
	color: white;
}

#search {
	background-attachment: scroll;
  	background-image: url(../images/search.png);
	border-left: 2px solid white;
	border-bottom: 2px solid white;
  	background-position: center center;
  	background-repeat: none;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}

.search {
	padding-top: 150px;
	padding-bottom: 150px;
	color: white;
}

footer {
	padding: 25px;
}

.footer-links {
	list-style-type: none;
}

.footer-links a:link {
	color: black;
}

.footer-links a:hover {
	 color: #7a7a7a;
}

.footer-links li {
	display: inline;
	padding-right: 15px;
}


